i {
    font-size: 28px;
}
.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #CCCCCC;
    --bs-btn-bg: #2B3A4B;
    --bs-btn-border-color: #2B3A4B;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #1EC28F;
    --bs-btn-hover-border-color: #1EC28F;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #1EC28F;
    --bs-btn-active-border-color: #1EC28F;
}
.main{
    display: flex;
    width: calc(100vw - 8.2vw);
    height: 90vh;
}
.map{
    width: 50vw;
    height:90vh;
}
.today_construction{
    width: calc(100vw - 58.2vw);
    height: 90vh;
    text-align: center;
}

.file-label {
    margin-top: 30px;
    background-color: #5b975b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 65%;
    border-radius: 6px;
    cursor: pointer;
}
.file {
    display: none;
}

h4{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(215,219,224);
}